<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <title>ToDo</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid d-flex justify-content-center">
                <a class="navbar-brand" href="/">
                    <h4>
                        Django ToDo List
                    </h4>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-lg-3 border-end">
                    {% block form %}
                    {% endblock %}
                </div>
                <div class="col-lg-9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid d-flex justify-content-center">
                <small>
                    Made with 
                    <i class="fa fa-heart text-danger"></i> 
                    by
                    <a class="text-dark" href="https://github.com/ifcassianasl">CassianaSL</a>
                </small>
            </div>
        </nav>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</body>
</html>